In [2]:
#Task
#Find the meta category wise sales in western Region

In [4]:
import pandas as pd

In [5]:
day_on_day = pd.read_csv("C:\\Users\\smohs_\\Machine_Learning\\PrepZee\\Wallmart\\day_on_day.csv")
day_on_day.head()

         dayy  Userid     PID  meta_category_id      Meta_Category
0  2022-03-13   11669  145705               282  Jewelry & Watches
1  2022-03-20   10307  264288               282     Home & Kitchen
2  2022-03-06   10835  268497               337            Fashion
3  2022-03-22   10873  306607                87    Sports & Health
4  2022-03-03   11119  523059             40442  Toys, Baby & Kids

In [129]:
product = pd.read_csv("C:\\Users\\smohs_\\Machine_Learning\\PrepZee\\Wallmart\\product.csv",encoding = "ISO-8859-1")
product

,PID,Product_Name,Cluster,Meta_Category,Sub_Category,Leaf_Category,meta_category_id
0,145705,Diamond (Heera) 6.0 Carat CZ planet Venus Astr...,Lifestyle,Jewelry & Watches,Jewellery,Gems & Stones,282
1,264288,Orignal Paint Zoom Ultimate Professional Paint...,Home,Home & Kitchen,Tools & Hardware,Painting Tools,282
2,268497,Weardo Men Polo T-Shirt Combo Red Blue Green,Lifestyle,Fashion,Men's Clothing,Combos,337
3,306607,Anti ultraviolet 2 Person Outdoor Camping Port...,GM,Sports & Health,Outdoor Adventure,Tents,87
4,523059,Ben 10 Ua Colour & Read Book 2,GM,"Toys, Baby & Kids",Books and More,Self Help Books,40442
...,...,...,...,...,...,...,...
2995,140589049,Billebon Women Black Polyester Solid Babydoll ...,Lifestyle,Fashion,Women's Clothing,Women's Sleep and Lounge wear,87
2996,140590511,Billebon Combo of Women Nightwear Babydoll Dre...,Lifestyle,Fashion,Women's Clothing,Women's Sleep and Lounge wear,87
2997,140592690,HRINKAR Black Rectangle and Square Bifocal and...,Lifestyle,Fashion,Eye Wear,Spectacle Frames,87
2998,140597611,5star Round Dial Brown Leather Strap Analog Me...,Lifestyle,Jewelry & Watches,Watches,Men Watches,87
2999,140598073,Princeandprincess Navy Lycra Party Wear Dress ...,GM,"Toys, Baby & Kids",Kids Apparel,Girls Party Frocks & Dresses,87

In [11]:
returns = pd.read_csv("C:\\Users\\smohs_\\Machine_Learning\\PrepZee\\Wallmart\\returns.csv")
returns.head()

   Userid Return
0   11669    Yes
1   10307    Yes
2   10835    Yes
3   10873    Yes
4   11119    Yes

In [12]:
sales = pd.read_csv("C:\\Users\\smohs_\\Machine_Learning\\PrepZee\\Wallmart\\sales.csv")
sales.head()

      PID  Quantity  Orders   Sales      Profit
0  145705         4       1  3159.0  802.755763
1  264288         1       1   825.0  238.559322
2  268497         1       1  2167.0  239.417797
3  306607         1       1   758.0  273.553898
4  523059         1       1  1174.0  225.767458

In [35]:
region = pd.read_csv("C:\\Users\\smohs_\\Machine_Learning\\PrepZee\\Wallmart\\user.csv")
region.head()

   Userid    City State    Region
0   11669  Mumbai    MH   Western
1   10307  Mumbai    MH   Western
2   10835  Mumbai    MH   Western
3   10873   Delhi   NCR  Northern
4   11119  Mumbai    MH   Western

In [19]:
sales_meta=pd.merge(left = sales,
         right =day_on_day,
         left_on = "PID",
         right_on = "PID",
         how = "left"


)
sales_meta

,PID,Quantity,Orders,Sales,Profit,dayy,Userid,meta_category_id,Meta_Category
0,145705,4,1,3159.00,802.755763,2022-03-13,11669,282,Jewelry & Watches
1,264288,1,1,825.00,238.559322,2022-03-20,10307,282,Home & Kitchen
2,268497,1,1,2167.00,239.417797,2022-03-06,10835,337,Fashion
3,306607,1,1,758.00,273.553898,2022-03-22,10873,87,Sports & Health
4,523059,1,1,1174.00,225.767458,2022-03-03,11119,40442,"Toys, Baby & Kids"
...,...,...,...,...,...,...,...,...,...
3019,140589049,20,20,1633.54,-644.653051,2022-03-17,10056,87,Fashion
3020,140590511,4,4,295.02,-129.440847,2022-03-18,10906,87,Fashion
3021,140592690,6,6,450.00,-183.671695,2022-03-19,12319,87,Fashion
3022,140597611,20,20,1513.00,-666.850678,2022-03-20,12394,87,Jewelry & Watches
3023,140598073,8,8,589.00,-261.055424,2022-03-21,12314,87,"Toys, Baby & Kids"

In [45]:
merge= pd.merge(left = sales_meta,
         right = day_on_day,
         left_on = "PID",
         right_on = "PID",
         how = "left"




)
merge

,PID,Quantity,Orders,Sales,Profit,dayy_x,Userid_x,meta_category_id_x,Meta_Category_x,dayy_y,Userid_y,meta_category_id_y,Meta_Category_y
0,145705,4,1,3159.00,802.755763,2022-03-13,11669,282,Jewelry & Watches,2022-03-13,11669,282,Jewelry & Watches
1,264288,1,1,825.00,238.559322,2022-03-20,10307,282,Home & Kitchen,2022-03-20,10307,282,Home & Kitchen
2,268497,1,1,2167.00,239.417797,2022-03-06,10835,337,Fashion,2022-03-06,10835,337,Fashion
3,306607,1,1,758.00,273.553898,2022-03-22,10873,87,Sports & Health,2022-03-22,10873,87,Sports & Health
4,523059,1,1,1174.00,225.767458,2022-03-03,11119,40442,"Toys, Baby & Kids",2022-03-03,11119,40442,"Toys, Baby & Kids"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3067,140589049,20,20,1633.54,-644.653051,2022-03-17,10056,87,Fashion,2022-03-17,10056,87,Fashion
3068,140590511,4,4,295.02,-129.440847,2022-03-18,10906,87,Fashion,2022-03-18,10906,87,Fashion
3069,140592690,6,6,450.00,-183.671695,2022-03-19,12319,87,Fashion,2022-03-19,12319,87,Fashion
3070,140597611,20,20,1513.00,-666.850678,2022-03-20,12394,87,Jewelry & Watches,2022-03-20,12394,87,Jewelry & Watches
3071,140598073,8,8,589.00,-261.055424,2022-03-21,12314,87,"Toys, Baby & Kids",2022-03-21,12314,87,"Toys, Baby & Kids"

In [49]:
merge_region= pd.merge (left = merge,
          right = region,
          left_on = 'Userid_x',
          right_on = 'Userid',
          how = 'left'


)
merge_region

,PID,Quantity,Orders,Sales,Profit,dayy_x,Userid_x,meta_category_id_x,Meta_Category_x,dayy_y,Userid_y,meta_category_id_y,Meta_Category_y,Userid,City,State,Region
0,145705,4,1,3159.0,802.755763,2022-03-13,11669,282,Jewelry & Watches,2022-03-13,11669,282,Jewelry & Watches,11669,Mumbai,MH,Western
1,145705,4,1,3159.0,802.755763,2022-03-13,11669,282,Jewelry & Watches,2022-03-13,11669,282,Jewelry & Watches,11669,Belgaum,KR,Southern
2,264288,1,1,825.0,238.559322,2022-03-20,10307,282,Home & Kitchen,2022-03-20,10307,282,Home & Kitchen,10307,Mumbai,MH,Western
3,264288,1,1,825.0,238.559322,2022-03-20,10307,282,Home & Kitchen,2022-03-20,10307,282,Home & Kitchen,10307,Meerut,UP,Northern
4,268497,1,1,2167.0,239.417797,2022-03-06,10835,337,Fashion,2022-03-06,10835,337,Fashion,10835,Mumbai,MH,Western
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6807,140597611,20,20,1513.0,-666.850678,2022-03-20,12394,87,Jewelry & Watches,2022-03-20,12394,87,Jewelry & Watches,12394,bangalore,KR,Southern
6808,140597611,20,20,1513.0,-666.850678,2022-03-20,12394,87,Jewelry & Watches,2022-03-20,12394,87,Jewelry & Watches,12394,Pune,MH,Western
6809,140597611,20,20,1513.0,-666.850678,2022-03-20,12394,87,Jewelry & Watches,2022-03-20,12394,87,Jewelry & Watches,12394,Delhi,NCR,Northern
6810,140598073,8,8,589.0,-261.055424,2022-03-21,12314,87,"Toys, Baby & Kids",2022-03-21,12314,87,"Toys, Baby & Kids",12314,Surat,GJ,Western
6811,140598073,8,8,589.0,-261.055424,2022-03-21,12314,87,"Toys, Baby & Kids",2022-03-21,12314,87,"Toys, Baby & Kids",12314,Delhi,NCR,Northern

In [52]:
sales_by_region= merge_region.groupby(['Region']).Sales.agg(['sum'])
sales_by_region

                 sum
Region
Eastern    199735.35
Northern  3348932.22
Southern   375805.71
Western   1550153.58

In [83]:
df_region=sales_by_region.sort_values(['sum'],ascending=False).reset_index()
df_region

     Region         sum
0  Northern  3348932.22
1   Western  1550153.58
2  Southern   375805.71
3   Eastern   199735.35

In [67]:
sales_by_region.iloc[[3]]

                sum
Region
Western  1550153.58

In [85]:
df_region.columns

Index(['Region', 'sum'], dtype='object')

In [90]:
df_region.loc[df_region.Region=='Western',["Region","sum"]]

    Region         sum
1  Western  1550153.58

In [25]:
sales_group= sales_meta.groupby(['Meta_Category']).Sales.agg(['sum']).reset_index()
sales_group

                   Meta_Category        sum
0                     Appliances   24683.18
1                     Automotive  124055.91
2                 Bags & Luggage   22370.87
3              Beauty & Perfumes   85223.00
4                      Computers    6056.00
5     Daily Needs and Essentials  139968.57
6                        Fashion  711753.76
7                       Footwear   75315.45
8                 Home & Kitchen  423874.28
9              Jewelry & Watches  283941.49
10   Mobile & Laptop Accessories  198364.72
11             Mobiles & Tablets   60289.27
12               Sports & Health   80248.55
13  TV, Audio & Large Appliances   16114.01
14             Toys, Baby & Kids  139142.20

In [91]:
sales.head()

      PID  Quantity  Orders   Sales      Profit
0  145705         4       1  3159.0  802.755763
1  264288         1       1   825.0  238.559322
2  268497         1       1  2167.0  239.417797
3  306607         1       1   758.0  273.553898
4  523059         1       1  1174.0  225.767458

In [31]:
sales_group.sort_values(['sum'],ascending = False).reset_index()

    index                 Meta_Category        sum
0       6                       Fashion  711753.76
1       8                Home & Kitchen  423874.28
2       9             Jewelry & Watches  283941.49
3      10   Mobile & Laptop Accessories  198364.72
4       5    Daily Needs and Essentials  139968.57
5      14             Toys, Baby & Kids  139142.20
6       1                    Automotive  124055.91
7       3             Beauty & Perfumes   85223.00
8      12               Sports & Health   80248.55
9       7                      Footwear   75315.45
10     11             Mobiles & Tablets   60289.27
11      0                    Appliances   24683.18
12      2                Bags & Luggage   22370.87
13     13  TV, Audio & Large Appliances   16114.01
14      4                     Computers    6056.00

In [34]:
sales_group.sort_values(['sum'],ascending =False).reset_index()

    index                 Meta_Category        sum
0       6                       Fashion  711753.76
1       8                Home & Kitchen  423874.28
2       9             Jewelry & Watches  283941.49
3      10   Mobile & Laptop Accessories  198364.72
4       5    Daily Needs and Essentials  139968.57
5      14             Toys, Baby & Kids  139142.20
6       1                    Automotive  124055.91
7       3             Beauty & Perfumes   85223.00
8      12               Sports & Health   80248.55
9       7                      Footwear   75315.45
10     11             Mobiles & Tablets   60289.27
11      0                    Appliances   24683.18
12      2                Bags & Luggage   22370.87
13     13  TV, Audio & Large Appliances   16114.01
14      4                     Computers    6056.00

In [93]:
day_on_day.head()

         dayy  Userid     PID  meta_category_id      Meta_Category
0  2022-03-13   11669  145705               282  Jewelry & Watches
1  2022-03-20   10307  264288               282     Home & Kitchen
2  2022-03-06   10835  268497               337            Fashion
3  2022-03-22   10873  306607                87    Sports & Health
4  2022-03-03   11119  523059             40442  Toys, Baby & Kids

In [94]:
sales.head()

      PID  Quantity  Orders   Sales      Profit
0  145705         4       1  3159.0  802.755763
1  264288         1       1   825.0  238.559322
2  268497         1       1  2167.0  239.417797
3  306607         1       1   758.0  273.553898
4  523059         1       1  1174.0  225.767458

In [97]:
df_sales= pd.merge(left = day_on_day,
         right = sales,
         left_on = 'PID',
         right_on= 'PID',
         how= 'left'



)
df_sales

,dayy,Userid,PID,meta_category_id,Meta_Category,Quantity,Orders,Sales,Profit
0,2022-03-13,11669,145705,282,Jewelry & Watches,4,1,3159.00,802.755763
1,2022-03-20,10307,264288,282,Home & Kitchen,1,1,825.00,238.559322
2,2022-03-06,10835,268497,337,Fashion,1,1,2167.00,239.417797
3,2022-03-22,10873,306607,87,Sports & Health,1,1,758.00,273.553898
4,2022-03-03,11119,523059,40442,"Toys, Baby & Kids",1,1,1174.00,225.767458
...,...,...,...,...,...,...,...,...,...
3019,2022-03-17,10056,140589049,87,Fashion,20,20,1633.54,-644.653051
3020,2022-03-18,10906,140590511,87,Fashion,4,4,295.02,-129.440847
3021,2022-03-19,12319,140592690,87,Fashion,6,6,450.00,-183.671695
3022,2022-03-20,12394,140597611,87,Jewelry & Watches,20,20,1513.00,-666.850678
3023,2022-03-21,12314,140598073,87,"Toys, Baby & Kids",8,8,589.00,-261.055424

In [98]:
df_sales.columns

Index(['dayy', 'Userid', 'PID', 'meta_category_id', 'Meta_Category',
       'Quantity', 'Orders', 'Sales', 'Profit'],
      dtype='object')

In [104]:
sales_catg= df_sales.groupby(['Meta_Category']).Sales.agg(['sum'])
sales_catg

                                    sum
Meta_Category
Appliances                     24683.18
Automotive                    124055.91
Bags & Luggage                 22370.87
Beauty & Perfumes              85223.00
Computers                       6056.00
Daily Needs and Essentials    139968.57
Fashion                       711753.76
Footwear                       75315.45
Home & Kitchen                423874.28
Jewelry & Watches             283941.49
Mobile & Laptop Accessories   198364.72
Mobiles & Tablets              60289.27
Sports & Health                80248.55
TV, Audio & Large Appliances   16114.01
Toys, Baby & Kids             139142.20

In [108]:
sales_catg.columns

Index(['sum'], dtype='object')

In [112]:
# 2- Which are the Top 10 products by sales?
sales_catg.sort_values(['sum'], ascending= False).head(10)

                                   sum
Meta_Category
Fashion                      711753.76
Home & Kitchen               423874.28
Jewelry & Watches            283941.49
Mobile & Laptop Accessories  198364.72
Daily Needs and Essentials   139968.57
Toys, Baby & Kids            139142.20
Automotive                   124055.91
Beauty & Perfumes             85223.00
Sports & Health               80248.55
Footwear                      75315.45

In [ ]:
# 4- Which is the most preferred Ship Mode?

In [130]:
df_sales

,dayy,Userid,PID,meta_category_id,Meta_Category,Quantity,Orders,Sales,Profit
0,2022-03-13,11669,145705,282,Jewelry & Watches,4,1,3159.00,802.755763
1,2022-03-20,10307,264288,282,Home & Kitchen,1,1,825.00,238.559322
2,2022-03-06,10835,268497,337,Fashion,1,1,2167.00,239.417797
3,2022-03-22,10873,306607,87,Sports & Health,1,1,758.00,273.553898
4,2022-03-03,11119,523059,40442,"Toys, Baby & Kids",1,1,1174.00,225.767458
...,...,...,...,...,...,...,...,...,...
3019,2022-03-17,10056,140589049,87,Fashion,20,20,1633.54,-644.653051
3020,2022-03-18,10906,140590511,87,Fashion,4,4,295.02,-129.440847
3021,2022-03-19,12319,140592690,87,Fashion,6,6,450.00,-183.671695
3022,2022-03-20,12394,140597611,87,Jewelry & Watches,20,20,1513.00,-666.850678
3023,2022-03-21,12314,140598073,87,"Toys, Baby & Kids",8,8,589.00,-261.055424

In [131]:
product

,PID,Product_Name,Cluster,Meta_Category,Sub_Category,Leaf_Category,meta_category_id
0,145705,Diamond (Heera) 6.0 Carat CZ planet Venus Astr...,Lifestyle,Jewelry & Watches,Jewellery,Gems & Stones,282
1,264288,Orignal Paint Zoom Ultimate Professional Paint...,Home,Home & Kitchen,Tools & Hardware,Painting Tools,282
2,268497,Weardo Men Polo T-Shirt Combo Red Blue Green,Lifestyle,Fashion,Men's Clothing,Combos,337
3,306607,Anti ultraviolet 2 Person Outdoor Camping Port...,GM,Sports & Health,Outdoor Adventure,Tents,87
4,523059,Ben 10 Ua Colour & Read Book 2,GM,"Toys, Baby & Kids",Books and More,Self Help Books,40442
...,...,...,...,...,...,...,...
2995,140589049,Billebon Women Black Polyester Solid Babydoll ...,Lifestyle,Fashion,Women's Clothing,Women's Sleep and Lounge wear,87
2996,140590511,Billebon Combo of Women Nightwear Babydoll Dre...,Lifestyle,Fashion,Women's Clothing,Women's Sleep and Lounge wear,87
2997,140592690,HRINKAR Black Rectangle and Square Bifocal and...,Lifestyle,Fashion,Eye Wear,Spectacle Frames,87
2998,140597611,5star Round Dial Brown Leather Strap Analog Me...,Lifestyle,Jewelry & Watches,Watches,Men Watches,87
2999,140598073,Princeandprincess Navy Lycra Party Wear Dress ...,GM,"Toys, Baby & Kids",Kids Apparel,Girls Party Frocks & Dresses,87

In [136]:
product_category = pd.merge(left = df_sales,
        right = product,
         left_on = "PID",
         right_on = "PID",
         how = 'left'
        
        
        )
product_category

,dayy,Userid,PID,meta_category_id_x,Meta_Category_x,Quantity,Orders,Sales,Profit,Product_Name,Cluster,Meta_Category_y,Sub_Category,Leaf_Category,meta_category_id_y
0,2022-03-13,11669,145705,282,Jewelry & Watches,4,1,3159.00,802.755763,Diamond (Heera) 6.0 Carat CZ planet Venus Astr...,Lifestyle,Jewelry & Watches,Jewellery,Gems & Stones,282
1,2022-03-20,10307,264288,282,Home & Kitchen,1,1,825.00,238.559322,Orignal Paint Zoom Ultimate Professional Paint...,Home,Home & Kitchen,Tools & Hardware,Painting Tools,282
2,2022-03-06,10835,268497,337,Fashion,1,1,2167.00,239.417797,Weardo Men Polo T-Shirt Combo Red Blue Green,Lifestyle,Fashion,Men's Clothing,Combos,337
3,2022-03-22,10873,306607,87,Sports & Health,1,1,758.00,273.553898,Anti ultraviolet 2 Person Outdoor Camping Port...,GM,Sports & Health,Outdoor Adventure,Tents,87
4,2022-03-03,11119,523059,40442,"Toys, Baby & Kids",1,1,1174.00,225.767458,Ben 10 Ua Colour & Read Book 2,GM,"Toys, Baby & Kids",Books and More,Self Help Books,40442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3067,2022-03-17,10056,140589049,87,Fashion,20,20,1633.54,-644.653051,Billebon Women Black Polyester Solid Babydoll ...,Lifestyle,Fashion,Women's Clothing,Women's Sleep and Lounge wear,87
3068,2022-03-18,10906,140590511,87,Fashion,4,4,295.02,-129.440847,Billebon Combo of Women Nightwear Babydoll Dre...,Lifestyle,Fashion,Women's Clothing,Women's Sleep and Lounge wear,87
3069,2022-03-19,12319,140592690,87,Fashion,6,6,450.00,-183.671695,HRINKAR Black Rectangle and Square Bifocal and...,Lifestyle,Fashion,Eye Wear,Spectacle Frames,87
3070,2022-03-20,12394,140597611,87,Jewelry & Watches,20,20,1513.00,-666.850678,5star Round Dial Brown Leather Strap Analog Me...,Lifestyle,Jewelry & Watches,Watches,Men Watches,87
3071,2022-03-21,12314,140598073,87,"Toys, Baby & Kids",8,8,589.00,-261.055424,Princeandprincess Navy Lycra Party Wear Dress ...,GM,"Toys, Baby & Kids",Kids Apparel,Girls Party Frocks & Dresses,87

In [157]:
# Highest ordered product?

highest_ord_product =product_category.groupby(['Product_Name']).Quantity.agg ('sum').reset_index()
highest_ord_product.columns

Index(['Product_Name', 'Quantity'], dtype='object')

In [159]:
highest_ord_product.sort_values(['Quantity'], ascending = False).head(5)

                                           Product_Name  Quantity
158   Aiwa 41 PCS TOOL KIT HOME PC Car Screwdriver S...       147
2628  Vighnaharta I Love U CZ Gold and Rhodium Plate...       144
1966  Raabta Fashion Black & White Striped Round Nec...       132
1598  Men Style Love Care Share Joy Help Hope Silver...       109
652   Darbha Rope Grass Thread Darba Thread Durva Ku...       101

In [162]:
# 4- Which is the most preferred Ship Mode?
# ans>>no shipping mode mentioned in the DB

In [163]:
#  Which are the Most Profitable Category and Sub-Category??

product_category

,dayy,Userid,PID,meta_category_id_x,Meta_Category_x,Quantity,Orders,Sales,Profit,Product_Name,Cluster,Meta_Category_y,Sub_Category,Leaf_Category,meta_category_id_y
0,2022-03-13,11669,145705,282,Jewelry & Watches,4,1,3159.00,802.755763,Diamond (Heera) 6.0 Carat CZ planet Venus Astr...,Lifestyle,Jewelry & Watches,Jewellery,Gems & Stones,282
1,2022-03-20,10307,264288,282,Home & Kitchen,1,1,825.00,238.559322,Orignal Paint Zoom Ultimate Professional Paint...,Home,Home & Kitchen,Tools & Hardware,Painting Tools,282
2,2022-03-06,10835,268497,337,Fashion,1,1,2167.00,239.417797,Weardo Men Polo T-Shirt Combo Red Blue Green,Lifestyle,Fashion,Men's Clothing,Combos,337
3,2022-03-22,10873,306607,87,Sports & Health,1,1,758.00,273.553898,Anti ultraviolet 2 Person Outdoor Camping Port...,GM,Sports & Health,Outdoor Adventure,Tents,87
4,2022-03-03,11119,523059,40442,"Toys, Baby & Kids",1,1,1174.00,225.767458,Ben 10 Ua Colour & Read Book 2,GM,"Toys, Baby & Kids",Books and More,Self Help Books,40442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3067,2022-03-17,10056,140589049,87,Fashion,20,20,1633.54,-644.653051,Billebon Women Black Polyester Solid Babydoll ...,Lifestyle,Fashion,Women's Clothing,Women's Sleep and Lounge wear,87
3068,2022-03-18,10906,140590511,87,Fashion,4,4,295.02,-129.440847,Billebon Combo of Women Nightwear Babydoll Dre...,Lifestyle,Fashion,Women's Clothing,Women's Sleep and Lounge wear,87
3069,2022-03-19,12319,140592690,87,Fashion,6,6,450.00,-183.671695,HRINKAR Black Rectangle and Square Bifocal and...,Lifestyle,Fashion,Eye Wear,Spectacle Frames,87
3070,2022-03-20,12394,140597611,87,Jewelry & Watches,20,20,1513.00,-666.850678,5star Round Dial Brown Leather Strap Analog Me...,Lifestyle,Jewelry & Watches,Watches,Men Watches,87
3071,2022-03-21,12314,140598073,87,"Toys, Baby & Kids",8,8,589.00,-261.055424,Princeandprincess Navy Lycra Party Wear Dress ...,GM,"Toys, Baby & Kids",Kids Apparel,Girls Party Frocks & Dresses,87

In [167]:
profit_catg = product_category.groupby(['Meta_Category_x']).Profit.agg(['sum']).reset_index()
profit_catg.sort_values(['sum'],ascending = False)

                 Meta_Category_x           sum
6                        Fashion  77753.658462
8                 Home & Kitchen  49230.596095
9              Jewelry & Watches  21329.942537
10   Mobile & Laptop Accessories  17660.443737
5     Daily Needs and Essentials  16210.184064
3              Beauty & Perfumes  12227.115082
1                     Automotive  10140.422203
12               Sports & Health   6648.719151
7                       Footwear   5860.697287
14             Toys, Baby & Kids   5529.060848
2                 Bags & Luggage   3475.296269
0                     Appliances   3167.986947
4                      Computers    458.274237
13  TV, Audio & Large Appliances  -1607.829830
11             Mobiles & Tablets  -2454.057796

In [168]:
profit_subcatg = product_category.groupby(['Sub_Category']).Profit.agg(['sum']).reset_index()
profit_subcatg.sort_values(['sum'],ascending = False)

             Sub_Category           sum
76       Women's Clothing  28738.849997
48         Men's Clothing  25954.564400
16                  Decor  20836.315754
74                Watches  15558.950001
56          Personal Care  10652.937457
..                    ...           ...
7          Books and More   -400.328473
18      Electric Vehicles  -1949.805763
61    Refurbished Mobiles  -2467.251864
43  Large Home Appliances  -2605.656271
70           Tools & Oils  -3994.568813

[79 rows x 2 columns]

In [ ]:
# Q1. Which area manager has the best performance in terms of the sales?
# Q5. Give the top 5 states who has most improved sales figures in terms of Sales in year 2016 Vs 2017? Also share your comments for the reason(root cause analysis) behind there improvised sales Mention the growth vectors to whom these growth can be attributed to create a column chart of sales for all the states for 2016 Vs 2017

# Q6. Which Area Manager has the best Performance in terms of the Sales of 2017 compared with 2016?

# Q7. Which Area Manager needs to be demoted as having the highest Return Values based on 2017 Vs 2016

# Q8. How much year on year(YoY) Growth Rate - Sales has been improved (CAGR) per Region

In [170]:
# Q5. Give the top 5 states who has most improved sales figures in terms of Sales in year 2016 Vs 2017? 
# Also share your comments for the reason(root cause analysis) behind there improvised sales Mention the growth vectors 
# to whom these # growth can be attributed to create a column chart of sales for all the states for 2016 Vs 2017

In [171]:
sales

            PID  Quantity  Orders    Sales      Profit
0        145705         4       1  3159.00  802.755763
1        264288         1       1   825.00  238.559322
2        268497         1       1  2167.00  239.417797
3        306607         1       1   758.00  273.553898
4        523059         1       1  1174.00  225.767458
...         ...       ...     ...      ...         ...
2995  140589049        20      20  1633.54 -644.653051
2996  140590511         4       4   295.02 -129.440847
2997  140592690         6       6   450.00 -183.671695
2998  140597611        20      20  1513.00 -666.850678
2999  140598073         8       8   589.00 -261.055424

[3000 rows x 5 columns]

In [172]:
df_sales

,dayy,Userid,PID,meta_category_id,Meta_Category,Quantity,Orders,Sales,Profit
0,2022-03-13,11669,145705,282,Jewelry & Watches,4,1,3159.00,802.755763
1,2022-03-20,10307,264288,282,Home & Kitchen,1,1,825.00,238.559322
2,2022-03-06,10835,268497,337,Fashion,1,1,2167.00,239.417797
3,2022-03-22,10873,306607,87,Sports & Health,1,1,758.00,273.553898
4,2022-03-03,11119,523059,40442,"Toys, Baby & Kids",1,1,1174.00,225.767458
...,...,...,...,...,...,...,...,...,...
3019,2022-03-17,10056,140589049,87,Fashion,20,20,1633.54,-644.653051
3020,2022-03-18,10906,140590511,87,Fashion,4,4,295.02,-129.440847
3021,2022-03-19,12319,140592690,87,Fashion,6,6,450.00,-183.671695
3022,2022-03-20,12394,140597611,87,Jewelry & Watches,20,20,1513.00,-666.850678
3023,2022-03-21,12314,140598073,87,"Toys, Baby & Kids",8,8,589.00,-261.055424

In [173]:
df_sales['dayy']=pd.to_datetime(df_sales['dayy'])

In [174]:
df_sales

,dayy,Userid,PID,meta_category_id,Meta_Category,Quantity,Orders,Sales,Profit
0,2022-03-13,11669,145705,282,Jewelry & Watches,4,1,3159.00,802.755763
1,2022-03-20,10307,264288,282,Home & Kitchen,1,1,825.00,238.559322
2,2022-03-06,10835,268497,337,Fashion,1,1,2167.00,239.417797
3,2022-03-22,10873,306607,87,Sports & Health,1,1,758.00,273.553898
4,2022-03-03,11119,523059,40442,"Toys, Baby & Kids",1,1,1174.00,225.767458
...,...,...,...,...,...,...,...,...,...
3019,2022-03-17,10056,140589049,87,Fashion,20,20,1633.54,-644.653051
3020,2022-03-18,10906,140590511,87,Fashion,4,4,295.02,-129.440847
3021,2022-03-19,12319,140592690,87,Fashion,6,6,450.00,-183.671695
3022,2022-03-20,12394,140597611,87,Jewelry & Watches,20,20,1513.00,-666.850678
3023,2022-03-21,12314,140598073,87,"Toys, Baby & Kids",8,8,589.00,-261.055424

In [178]:
#creating year and month column
df_sales['year']=df_sales['dayy'].dt.year
df_sales['month']=df_sales['dayy'].dt.month
df_sales

,dayy,Userid,PID,meta_category_id,Meta_Category,Quantity,Orders,Sales,Profit,year,month
0,2022-03-13,11669,145705,282,Jewelry & Watches,4,1,3159.00,802.755763,2022,3
1,2022-03-20,10307,264288,282,Home & Kitchen,1,1,825.00,238.559322,2022,3
2,2022-03-06,10835,268497,337,Fashion,1,1,2167.00,239.417797,2022,3
3,2022-03-22,10873,306607,87,Sports & Health,1,1,758.00,273.553898,2022,3
4,2022-03-03,11119,523059,40442,"Toys, Baby & Kids",1,1,1174.00,225.767458,2022,3
...,...,...,...,...,...,...,...,...,...,...,...
3019,2022-03-17,10056,140589049,87,Fashion,20,20,1633.54,-644.653051,2022,3
3020,2022-03-18,10906,140590511,87,Fashion,4,4,295.02,-129.440847,2022,3
3021,2022-03-19,12319,140592690,87,Fashion,6,6,450.00,-183.671695,2022,3
3022,2022-03-20,12394,140597611,87,Jewelry & Watches,20,20,1513.00,-666.850678,2022,3
3023,2022-03-21,12314,140598073,87,"Toys, Baby & Kids",8,8,589.00,-261.055424,2022,3

In [184]:
df_sales.groupby(['year']).Sales.agg(['sum']).reset_index

<bound method DataFrame.reset_index of              sum
year
2022  2391401.26>

In [1]:
hr.head()

NameError: name 'hr' is not defined

In [6]:
product1 = pd.read_csv("C:\\Users\\smohs_\\Machine_Learning\\PrepZee\\Wallmart\\product.csv",encoding = "ISO-8859-1")
product1

,PID,Product_Name,Cluster,Meta_Category,Sub_Category,Leaf_Category,meta_category_id
0,145705,Diamond (Heera) 6.0 Carat CZ planet Venus Astr...,Lifestyle,Jewelry & Watches,Jewellery,Gems & Stones,282
1,264288,Orignal Paint Zoom Ultimate Professional Paint...,Home,Home & Kitchen,Tools & Hardware,Painting Tools,282
2,268497,Weardo Men Polo T-Shirt Combo Red Blue Green,Lifestyle,Fashion,Men's Clothing,Combos,337
3,306607,Anti ultraviolet 2 Person Outdoor Camping Port...,GM,Sports & Health,Outdoor Adventure,Tents,87
4,523059,Ben 10 Ua Colour & Read Book 2,GM,"Toys, Baby & Kids",Books and More,Self Help Books,40442
...,...,...,...,...,...,...,...
2995,140589049,Billebon Women Black Polyester Solid Babydoll ...,Lifestyle,Fashion,Women's Clothing,Women's Sleep and Lounge wear,87
2996,140590511,Billebon Combo of Women Nightwear Babydoll Dre...,Lifestyle,Fashion,Women's Clothing,Women's Sleep and Lounge wear,87
2997,140592690,HRINKAR Black Rectangle and Square Bifocal and...,Lifestyle,Fashion,Eye Wear,Spectacle Frames,87
2998,140597611,5star Round Dial Brown Leather Strap Analog Me...,Lifestyle,Jewelry & Watches,Watches,Men Watches,87
2999,140598073,Princeandprincess Navy Lycra Party Wear Dress ...,GM,"Toys, Baby & Kids",Kids Apparel,Girls Party Frocks & Dresses,87

In [10]:
product1.loc[:,product1.dtypes == 'object'].applymap (lambda x: x.upper())

,Product_Name,Cluster,Meta_Category,Sub_Category,Leaf_Category
0,DIAMOND (HEERA) 6.0 CARAT CZ PLANET VENUS ASTR...,LIFESTYLE,JEWELRY & WATCHES,JEWELLERY,GEMS & STONES
1,ORIGNAL PAINT ZOOM ULTIMATE PROFESSIONAL PAINT...,HOME,HOME & KITCHEN,TOOLS & HARDWARE,PAINTING TOOLS
2,WEARDO MEN POLO T-SHIRT COMBO RED BLUE GREEN,LIFESTYLE,FASHION,MEN'S CLOTHING,COMBOS
3,ANTI ULTRAVIOLET 2 PERSON OUTDOOR CAMPING PORT...,GM,SPORTS & HEALTH,OUTDOOR ADVENTURE,TENTS
4,BEN 10 UA COLOUR & READ BOOK 2,GM,"TOYS, BABY & KIDS",BOOKS AND MORE,SELF HELP BOOKS
...,...,...,...,...,...
2995,BILLEBON WOMEN BLACK POLYESTER SOLID BABYDOLL ...,LIFESTYLE,FASHION,WOMEN'S CLOTHING,WOMEN'S SLEEP AND LOUNGE WEAR
2996,BILLEBON COMBO OF WOMEN NIGHTWEAR BABYDOLL DRE...,LIFESTYLE,FASHION,WOMEN'S CLOTHING,WOMEN'S SLEEP AND LOUNGE WEAR
2997,HRINKAR BLACK RECTANGLE AND SQUARE BIFOCAL AND...,LIFESTYLE,FASHION,EYE WEAR,SPECTACLE FRAMES
2998,5STAR ROUND DIAL BROWN LEATHER STRAP ANALOG ME...,LIFESTYLE,JEWELRY & WATCHES,WATCHES,MEN WATCHES
2999,PRINCEANDPRINCESS NAVY LYCRA PARTY WEAR DRESS ...,GM,"TOYS, BABY & KIDS",KIDS APPAREL,GIRLS PARTY FROCKS & DRESSES